body{
   background:#fcfcfa;
   height:100vh;
    
}
.container-xl{
   height:100vh;
}
.card-container{
   min-height:40vh;
   width:50vh;
}
.card{
   margin-bottom:2%;
}
.quiz-footer{
   display:flex;
   justify-content:space-between;
   justify-items: center;
}